body {
    font-family: "Montserrat";
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    padding: 0;
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-family: "Montserrat";
    font-size: 1.2rem;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

#title h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;

}

.download-button {
    margin: 5% 3% 5% 0;
}

.container-fluid {
    padding: 3% 15% 7%;
    background-color: #ff4c68;
}

.phone {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}


/* FEATURES SECTION */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.features-box{
    text-align: center;
    line-height: 1.5rem;
    padding: 5%;

}

#features h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}

#features p {
    color: #8f8f8f;
}

.i {
    color: #ef8172;
    margin-bottom: 1rem;
}

i:hover {
    color: #ff4c68;
}


/* TESTIMONIALS SECTION */

#testimonials {
    /* padding: 7% 15%; */
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}

.testimonials-img {
    border-radius: 100%;
    width: 10%;
    margin: 2%;
}

.carousel-item {
    padding: 7% 15%;
}


/* PRESS SECTION */
#press{
    background-color: #ef8172;
    padding: 2%;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 2%;
}

/* PRICING */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding:3% 2%;
}


#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    padding-top: 5%;
}

#cta h3 {
    font-size: 2.5rem;
}

footer {
    color: gray;
    text-align: center;
    padding-top: 2%;
}

footer i {
    color:black;
    padding: 0.5%;
}


@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .phone {
        position: static;
        transform: rotate(0);
    }
}